<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width"/>
        <title>SportsStore</title>
        <link rel="stylesheet" href="~/vendor.min.css"/>
        <style>
            <!--По умолчанию HTML-элемент, которому назначается класс placeholder, будет иметь свойство visibility, установленное в collapse, и св-во display, что не позволит пользователю его видеть. Но когда HTML-элемент является единственным дочерним элементом включаещего элемента, значение св--в изменяется, что достигается за счет использования псевдокласса only-child  -->
            .placehplder{visibility: collapse; display: none;}
            .placehplder: :only-child {visibility: visible; displey: flex; }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row p-2">
                <div class="col-2">
                <a asp-controller="Home" asp-action="Index" class="@GetClassForButton("Home")">
                    Products
                </a>   
                <a asp-controller="Categories" asp-action="Index" class="@GetClassForButton("Categories")">
                    Categories
                </a>
                    <a asp-controller="Orders" asp-action="Index" class="@GetClassForButton("Orders")">
                        Orders
                    </a>
            </div>
            <div class="col">
                @RenderBody()
            </div>
        </div>
       </div>
    </body>
</html>

@functions {
    string GetClassForButton(string controller){
        return "btn btn-block "+ (ViewContext.RouteData.Values["controller"]
            as string == controller ? "btn-primary":"btn-outline-primary");    
    }
}